<div class="has-background-black">
  <div class="container">
    <h1 class="title is-1 has-text-centered has-text-white">BRB</h1>
    <div class="columns is-centered py-5">
      <div class="column is-5">
        <form method="POST">
          <div class="field">
            <input class="input" name="location" />
          </div>
          <div class="field">
            <textarea class="textarea" name="description"></textarea>
          </div>
          <div class="field">
            <div class="select is-fullwidth">
              <select name="students">
                <option>select one</option>
                <% students.forEach(student =>{ %>
                <option value="<%= student._id %>">
                  <%= student.fullName() %>
                </option>
                <%})%>
              </select>
            </div>
          </div>
          <button class="button is-primary is-fullwidth">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <% excuses.forEach(excuse => {%>
  <div class="box">
    <div class="columns">
      <div class="column is-8">
        <%= excuse.description %> - <% if (excuse.student){%> <%=
        excuse.student.fullName() %> <% }%>
      </div>
      <div class="column is-4">
        <%= excuse.location %> <a href="/excuse/<%= excuse._id %>">find lor</a>
      </div>
    </div>
  </div>
  <% }) %>
</div>
